<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <appSettings>
    <clear/>
    <add key="6" value="Talk to the Bishop|Talk to your parents|Sleep in|Wake up early|Stay up late|Put off homework|Read Scriptures|Serve Others|Partake of the Sacrament|Stand for Truth|Reasons to stay home|Be Reverent|Do good deeds"/>
    <add key="5" value="Uplifting|Holy|Spiritual|Hard|Bubbly|Whimsical|Contrite|Dutiful|Beautiful|Colorful|Playful / Fun"/>
    <add key="4" value="Chapel|Temple|Home|Classroom|Primary room|Family History Center|Your Car|Stake Dance|Church Building|Your Backyard"/>
    <add key="3" value="Prophets of the Old Testaments|Books of the Old Testament|Scripture Mastery Scriptures|People in the Level Creek Bishopric|People in the Quorum on the 12 Apostles|Women in the Scriptures|People in the room|People who built boats in the scriptures|LDS Authors|Wild Animals"/>
    <add key="2" value="The Bishop|The Prophet|God|Your Parents|Brother Cheek|The Stake President|Sunday School Teacher|Primary Teacher|Seminary Teacher|Sister Cheek"/>
    <add key="1" value="Prophets|Latter-Day Prophets| Book of Mormon Prophets| Books in the New Testament| Books in the Book of Mormon| Scriptures| Offices in the Priesthood| Articles of Faith| Colors in the Rainbow| Class names in Young Women| Commandments| Family Titles"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>